<style>
</style>

<div class="row">
  <div class="col-xs-12">
    <span>Pick a set of credentials to send:</span>
    <pre>{{$ctrl.query|json}}</pre>
  </div>
</div>

<div class="row" ng-repeat="profile in $ctrl.profiles">
  <div class="col-xs-12">
    <div class="br-identity-profile-container br-item-hover">
      <div class="br-identity-profile-item"
        ng-repeat="credential in profile.credentials"
        ng-click="$ctrl.credential=credential; $ctrl.showCredentialDetails=true">
        <!-- TODO: ng-class="alert alert-warning"/"alert-danger for superfluous
          and sensitive properties -->
        <!-- TODO: change simple to complex displayer -->
        <br-credential br-credential="credential" br-show-actions="false">
        </br-credential>
      </div>
    </div>
    <!-- TODO: add warning for superfluous/sensitive properties -->
    <!-- TODO: add send button -->
    <!-- TODO: add confirmation alert modal if send is pressed on
      warned a profile -->
  </div>
</div>

<div ng-if="$ctrl.profiles.length === 0" class="row">
  <div class="col-xs-12">
    <!-- TODO: improve -->
    Oh no, you lack the credentials to fulfill this query!
  </div>
</div>

<!-- modals -->
<stackable-modal stackable="$ctrl.showCredentialDetails"
  br-lazy-compile="$ctrl.showCredentialDetails"
  br-lazy-id="br-identity-composer-credential-details-modal">
  <br-modal br-title="Credential Details">
    <br-modal-body>
      <br-demo-warning></br-demo-warning>
      <!-- TODO: change simple to complex displayer -->
      <br-credential br-credential="$ctrl.credential" br-show-actions="false">
      </br-credential>
    </br-modal-body>
    <br-modal-footer>
      <button type="button" class="btn btn-default stackable-cancel">Close</button>
    </br-modal-footer>
  </br-modal>
</stackable-modal>
<stackable-modal stackable="$ctrl.showConfirm"
  stackable-closed="$ctrl.confirmSend(err, result)"
  br-lazy-compile="$ctrl.showConfirm"
  br-lazy-id="br-identity-composer-confirm-send-modal">
  <br-alert-modal
    br-modal-header="Warning"
    br-modal-ok="Send"
    br-modal-cancel="Cancel">
    <!-- TODO: handle superfluous vs. sensitive data -->
    <p>Are you sure that you want to send these credentials? They contain
      information that was not requested.</p>
    <!-- TODO: show profile {{$ctrl.profile}} -->
  </br-alert-modal>
</stackable-modal>
