<div class="row">
  <div class="col-sm-offset-1 col-sm-9">
    <div ng-show="model.page == 'edit'" class="row row-centered edit-header">
      <div class="col-xs-2">
        <a class="text-center" ng-click="model.back()"><span style="margin-top: 25px;"
          class="glyphicon glyphicon-chevron-left"/>Back</a>
      </div>
      <div class="col-xs-10">
        <h2 class="text-center">Edit Selection</h2>
      </div>
    </div>
    <div ng-show="model.page == 'front'" class="row text-center front-page">
      <h4>A site is requesting credentials with the following claims:</h4>
      <span ng-repeat="claim in model.requestedProperties" class="badge">
        {{claim.label}}
      </span>
      <h4>
        These credential(s) have been selected to satisfy the request:
      </h4>
      <div class="credential-container">
        <ul class="list-unstyled">
          <li class="br-item-hover well" ng-repeat="credential in model.selectedCredentials"
            ng-click="credential.hidden=!credential.hidden">
            <h5>
              <strong>{{credential.name}}</strong> <span class="fa fa-search-plus"
                ng-class="{'fa-search-minus': credential.hidden}"></span>
            </h5>
            <div ng-if="model.fulfillsExcessClaims(credential).length > 0" class="h5">
              <span class="fa fa-exclamation-triangle"></span>
              <span>Contains claims that the site did not request: </span>
              <span ng-repeat="claim in model.fulfillsExcessClaims(credential)" class="badge">
                {{model.labelForProperty(claim)}}
              </span>
            </div>
            <div ng-if="credential.hidden">
              <br-credential br-credential="credential" br-show-actions="false"
                br-options="{display: 'simple', limit: 3, collapsable: true, hideTitle: true}">
              </br-credential>
            </div>
          </li>
        </ul>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <a style="margin-bottom: 20px;" ng-click="model.page = 'edit'">
          Edit which credentials you're sending
        </a>
      </div>
    </div>
    <div ng-show="model.page == 'unfulfillable'" class="row text-center front-page">
      <div class="row">
        <h4 style="padding: 20px;" ng-if="!claimsPartiallyFulfillable">A site is requesting credentials that you do not possess:</h4>
        <div ng-if="claimsPartiallyFulfillable">
          <h4 style="padding: 20px;" class="">A site is requesting the following credentials, some if which you do not possess:</h4>
        </div>
        <div class="credential-container">
          <p ng-repeat="claim in model.requestedProperties">{{claim.label}}
            <span style="color: red" class="glyphicon glyphicon-remove" ng-if="!claim.fulfillable"></span>
            <span style="color: green" class="glyphicon glyphicon-ok" ng-if="claim.fulfillable"></span>
        </div>
      </div>
    </div>
    <div ng-show="model.page == 'edit'" class="edit-page">
      <div class="row row-centered">
        <div>
          <div ng-show="!model.isReplacing()" class="row row-centered">
            <div class="text-center">
              <h3>Selected credentials</h3>
            </div>
            <div class="row">
              <div class="selectable-container-border"></div>
            </div>
          </div>
          <div class="cred-edit"
            ng-repeat="credential in model.selectedCredentials | orderBy:model.hasReplaceableCredentials:true">
            <br-identity-credential br-credential="credential"
              br-selected-credentials="model.selectedCredentials"
              br-all-credentials="model.allCredentials"
              br-query="model.processed.consumerQuery"
              br-library="model.library">
            </br-identity-credential>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <a class="col-xs-3 col-xs-offset-2 btn btn-default text-center" ng-click="model.cancel()">Cancel</a>
      <a class="col-xs-3 col-xs-offset-1 btn btn-primary text-center"
        ng-class="{disabled: model.page == 'unfulfillable'}" ng-click="model.done()">Continue</a>
    </div>
  </div>
</div>
