<style>
.text-element {
  position: relative;
  left: -45%;
  font-size: 2.0em;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .text-element {
    left: -35%;
    font-size: 1.6em;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .text-element {
    left: -50%;
  }
}

.text-container {
  position: absolute;
  margin-top: 1%;
  margin-left: 7.2%;
  cursor: pointer;
}

@media (max-width: 992px) {
  .text-container {
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .text-container {
    position: absolute;
    margin-left: 50%;
    margin-top: 1%;
  }
}

.card-wrapper {
  position: relative;

}

.info-icon-element {

  position: absolute;
  right: 0.7%;
  top: 4%;
  z-index: 2;
}


.br-identity-profile-container {
  padding-top: 3.5%;
}

@media (max-width: 767px) {
  .br-identity-profile-container {
    padding-top: 6.5%;
  }
}


</style>


<div ng-if="$ctrl.loading" style="width: 100vw; font-size: x-small;">
  <i class="fa fa-refresh fa-spin text-muted"></i> Building profiles...
</div>
<div ng-if="!$ctrl.loading" ng-style="$ctrl.profileContainerStyle">
  <div ng-if="!!$ctrl.profiles.length" class="br-identity-profile-list"
    ng-repeat="profile in $ctrl.profiles">
<!--     <h4 ng-mouseenter="$hover=true" ng-mouseleave="$hover=false">
      <span class="label label-primary" style="cursor: pointer;">
        
      </span>
    </h4> -->
 
    <div class="text-container">
      <div class="text-element">
        Select Profile {{$index + 1}}
        <i ng-if="$ctrl.sending && $ctrl.selectedIndex === $index"
            class="fa fa-refresh fa-spin"></i>        
      </div>        
    </div>
    <div class="br-identity-profile-container" 
      ng-mouseenter="$hover=true" ng-mouseleave="$hover=false"
      ng-class="{'br-identity-profile-container-hover': $hover}"
      ng-click="$ctrl.select(profile, $index)">

      <div class="br-identity-profile-item"
        ng-repeat="credential in profile.credentials">
        <!-- TODO: ng-class="alert alert-warning"/"alert-danger for superfluous
          and sensitive properties -->
        <!-- TODO: change simple to complex displayer -->
        <div class="card-wrapper" style="width: {{$ctrl.credentialWidth.select}}">
          <i class="fa fa-info-circle info-icon-element" aria-hidden="true"
          ng-click="$ctrl.credential=credential; $ctrl.showCredentialDetails=true;"
          style="font-size: calc({{$ctrl.credentialWidth.select}} * 0.06)">
          </i>
          <br-credential br-credential="credential" br-show-actions="false"
            br-options="{displayer: {style: {width: $ctrl.credentialWidth.select}}}">
          </br-credential>
        </div>
      </div>
    </div>
    

    <!-- TODO: add warning for superfluous/sensitive properties -->
    <!-- TODO: add send button -->
    <!-- TODO: add confirmation alert modal if send is pressed on
      warned a profile -->
    <!-- <hr ng-if="!$last" class="br-identity-profile-separator"> -->
    <p ng-if="!$last"></p>
  </div>

  <div ng-if="!$ctrl.profiles.length" class="text-center">
    <h4>We're sorry, but you don't have the credentials the site is looking for.</h4>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.cancel()">
      Close
    </button>
  </div>
</div>

<!-- modals -->
<stackable-modal stackable="$ctrl.showCredentialDetails"
  br-lazy-compile="$ctrl.showCredentialDetails"
  br-lazy-id="br-identity-composer-credential-details-modal">
  <br-modal br-title="Credential Details">
    <br-modal-body>
      <br-demo-warning></br-demo-warning>
      <div class="br-identity-credential-container">
        <div class="br-identity-credential-item">
          <br-credential br-credential="$ctrl.credential" br-show-actions="false"
            br-options="{displayer: {style: {width: $ctrl.credentialWidth.detail}}}">
          </br-credential>
        </div>
      </div>
    </br-modal-body>
    <br-modal-footer>
      <button type="button" class="btn btn-default stackable-cancel">Close</button>
    </br-modal-footer>
  </br-modal>
</stackable-modal>
<stackable-modal stackable="$ctrl.showConfirm"
  stackable-closed="$ctrl.confirmSend(err, result)"
  br-lazy-compile="$ctrl.showConfirm"
  br-lazy-id="br-identity-composer-confirm-send-modal">
  <br-alert-modal
    br-modal-header="Warning"
    br-modal-ok="Send"
    br-modal-cancel="Cancel">
    <!-- TODO: handle superfluous vs. sensitive data -->
    <p>Are you sure that you want to send these credentials? They contain
      information that was not requested.</p>
    <!-- TODO: show profile {{$ctrl.profile}} -->
  </br-alert-modal>
</stackable-modal>
