<div ng-hide="credential.editing" class="row row-centered selectable-container">
  <div class="col-xs-12 text-left">
    <h4>{{credential.name}}</h4>
    <div class="row">
      <div class="col-xs-9">
        <div class="property-container">
          <br-credential br-credential="credential" br-show-actions="false" br-options="{display: 'simple', limit: 3, collapsable: true, hideTitle: true}"></br-credential>
        </div>
      </div>
      <div class="col-xs-3">
        <a ng-hide="credential.editing" ng-if="isReplaceable(credential)" ng-click="clickItem(credential)">
          Change
        </a>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 selectable-container-border"></div>
      </div>
    </div>
  </div>
</div>

<div ng-show="credential.editing" class="row row-centered">
  <div class="col-xs-12 text-center">
    <h3>Select a similar credential</h3>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 selectable-container-border"></div>
  </div>
</div>
<div ng-show="credential.editing" ng-repeat="replacementCredential in replacementCredentials(credential)">
  <div class="selectable-container">
    <div class="col-xs-12 text-left">
      <h4>{{replacementCredential.name}}</h4>
      <div class="row">
        <div class="col-xs-9 property-container">
          <br-credential br-credential="replacementCredential" br-show-actions="false" br-options="{display: 'simple', limit: 3, collapsable: true, hideTitle: true}"></br-credential>
        </div>
        <div class="col-xs-3">
          <a  ng-click="replacementCredentialClicked(replacementCredential)">Replace</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Will replace: </h5>
          <span ng-repeat="willReplaceCredential in getCredentialsToReplace(replacementCredential)"><h5>{{willReplaceCredential.name}}</h5></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 selectable-container-border"></div>
  </div>
</div>
