{% extends 'layout.html' %}

{% set pageTitle = "Test" %}

{% block content %}

{% raw %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Credential Consumer Examples</h1>
    <div ng-controller="brTestFormController as model">
      <div class="btn-group" role="group">
        <button
          class="btn btn-default"
          ng-repeat="consumer in model.consumers track by $index"
          ng-disabled="model.loading"
          ng-click="model.output = null; model.consumer = consumer">
          {{consumer.description}}
        </button>
      </div>
      <div ng-if="model.output">
        <p>The composed identity:</p>
        <pre>{{model.output | json}}</pre>
      </div>
      <br-identity-composer
        ng-show="model.consumer && !model.output"
        br-consumer-query="model.consumer.query"
        br-identity="model.identity"
        br-library="model.library"
        br-loading="model.loading"
        br-callback="model.output = identity">
      </br-identity-composer>
    </div>
  </div>
</div>

{% endraw %}
{% endblock %}
