{% extends 'layout.html' %}

{% set pageTitle = "Test" %}

{% block content %}

{% raw %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Credential Consumer Examples</h1>
    <div ng-controller="brTestFormController as model">
      <div class="btn-group" role="group">
        <button
          ng-repeat="consumer in model.consumers track by $index"
          ng-click="model.consumer = consumer">
          {{consumer.description}}
        </button>
      </div>
      <h2 ng-show="model.consumer">{{model.consumer.description}}</h2>
      <br-identity-composer
        ng-show="model.consumer"
        br-library="model.library"
        br-credentials="model.credentials"
        br-consumer-query="model.consumer.query"
        br-id="model.id"
        ng-model="model.identity">
      </br-identity-composer>
    </div>
  </div>
</div>

{% endraw %}
{% endblock %}
